<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/style.css" />
  <script src="https://kit.fontawesome.com/c3157a1ff1.js" crossorigin="anonymous"></script>
  <title>Todo</title>
</head>

<body id="work">
  <button class="dark-mode-btn" onclick="darkMode()"><i class="fa-solid fa-circle-half-stroke"></i></button>
  <h1 class="todoTitle">Todos</h1>

  <div class="loginButtons">
    <a class="button" href="/login"> Login</a>
    <a class="button" href="/signup"> Signup</a>
  </div>

  <script src="js/main.js"></script>
</body>
</html>