<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://kit.fontawesome.com/c3157a1ff1.js" crossorigin="anonymous"></script>
  <title>Tags</title>
</head>

<body>
  <h1>Tags</h1>
  <section id='tags' class="tags">
    <% if (tags.length ) { %>
      <% tags.sort((a,b) => a.tag.localeCompare(b.tag)).forEach( (tag) => { %>
        <%- include('partials/tag.ejs', {tag: tag, display: display}) %>
      <% }) %>
    <% } %>
  </section>

  <section class="addTags">
    <input type="text" id='newTags' placeholder="Enter New Tags, Comma Separated" name='tags'>
    <button id='addTags' class='formButton'>Add Tags</button>
  </section>

  <a href="/todos">Back to Todo List</a>
  <a href="/logout">Logout</a>

  <script src="js/main.js"></script>
  <script src="js/tags.js"></script>
</body>

</html>