* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  color: #333;
  line-height: 1.5;
}

body {
  display: grid;
  justify-content: center;
  background-color: #c9ddf1;
  font-size: 18px;
  min-width: 375px;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

textarea {
  resize: none;
}

.button {
  background: #1e1e1e;
  color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  width: 60px;
  margin: 20px auto;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode-btn {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.bn29 {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border: none;
  width: 96px;
  padding: 0.8em 0;
  outline: none;
  color: white;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: none;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}

.bn29:before,
.bn29:after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10em;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 105%;
  height: 105%;
  content: '';
  z-index: -2;
  background-size: 400% 400%;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
}

.bn29:before {
  -webkit-filter: blur(7px);
  filter: blur(7px);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-animation: pulse 10s infinite ease;
  animation: pulse 10s infinite ease;
}

.bn29:after {
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px);
}

.bn29:hover:before {
  width: 115%;
  height: 115%;
}

/* landingPage */
.title {
  background: #1a1a1a69;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.loginButtons {
  text-decoration: none;
  background: #1a1a1a69;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: space-between;
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

input[type='submit'] {
  border-radius: 5px;
  border: 0;
  width: 80px;
  height: 25px;
  font-family: Tahoma;
  background: #f4f4f4;
}

/* signup page */
.signupForm {
  background: #1a1a1a69;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

/* loginPage */

.navButtons {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}

.fa-solid.fa-house {
  display: flex;
  justify-content: right;
}

/* todoPage */
.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 24px;
  max-width: 640px;
}

.todoList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.userNumber {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.todoItem {
  display: grid;
  grid-template-areas:
    'todoNumber todoNumber'
    'todoTitle  todoTitle'
    'details    details'
    'subTasks   subTasks'
    'todoButtons todoDates'
    'tags        tags';
  row-gap: 8px;
  margin: 10px 0;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.todoItem.later {
  background-color: #7cde99;
  color: #1c8038;
}

.todoItem.soon {
  background-color: #fdfd96;
  color: #a5a516;
}
.todoItem.overdue {
  background-color: #ff7972;
  color: #b31c1c;
}

.todoItem.completed {
  background-color: #a9a9a9;
  color: #838383;
  text-decoration: line-through;
}

.todoNumber {
  grid-area: todoNumber;
  font-size: 24px;
  font-weight: bold;
}

.todoTitle {
  grid-area: todoTitle;
  cursor: pointer;
}

.subTasksContainer {
  grid-area: subTasks;
}

.subTasksContainer ul {
  list-style: square;
}

.subTasksContainer ul li {
  margin-left: 20px;
}

.detailsContainer {
  grid-area: details;
}

.buttonContainer {
  grid-area: todoButtons;
  display: flex;
  align-items: end;
  gap: 8px;
}

.datesContainer {
  grid-area: todoDates;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.fa-edit {
  color: #000;
}

.tags {
  grid-area: tags;
  display: flex;
  flex-wrap: wrap;
}

.formToggle {
  align-self: flex-end;
}

.formToggle .cancel {
  display: none;
}

.addTodo {
  display: none;
  text-align: center;
  width: 100%;
}

.addTodo input,
.addTodo textArea,
.addTodo label {
  margin: 0.6rem 0;
  padding: 4px 8px;
  width: 100%;
  border: none;
  border-radius: 5px;
}

.addTodo form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.todoSubmit {
  padding: 8px 20px;
  cursor: pointer;
}

/* Edit Page */
.editForm {
  background: #1a1a1a69;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.not {
  text-decoration: underline;
}

.del {
  color: red;
  cursor: pointer;
}

.todoDetails {
  display: none;
}

.tag {
  border: 1px solid black;
  background: rgb(255, 255, 255);
  color: black;
  padding: 3px 5px;
  box-shadow: 3px 5px 10px #888;
}

.tag .fa-tag {
  padding: 0px 5px 0px 0px;
}

.tag .fa-xmark {
  color: red;
  padding: 0px 5px;
}

.tag .fa-pencil {
  color: blue;
  padding: 0px 5px;
}

.tag {
  display: inline-block;
}

div input .fa-check {
  position: absolute;
  right: 30px;
  top: 40px;
  color: green;
}

div input .fa-x {
  position: absolute;
  right: 15px;
  top: 40px;
  color: red;
}

.hidden {
  display: none !important;
}

.addSubTask {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.addSubTaskBtn {
  display: flex;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
  width: 100%;
}

.subTaskItem {
  position: relative;
}

.subTaskItem i {
  position: absolute;
  right: 8px;
  top: 12px;
  cursor: pointer;
}

.delSubTaskBtn {
  color: red;
}

.detailsBtn {
  text-transform: uppercase;
  background-color: lightskyblue;
  border-radius: 5px;
}

.submitButton {
  margin-top: 1rem;
}

.detailsBtn:hover {
  cursor: pointer;
  --transform-scale-x: 1.1;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
